p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#error_explanation {
  width: 100%;
  background: white;

  margin-bottom: 6px;
  padding: 4px 8px;
  font-size: 12px;
  color: black;

  strong {
    color: red;
  }

  .error {
    padding-left: 4px;
  }
}
